<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet"  th:href="@{/css/styles.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>Inicio</title>
</head>
<body>
	   <div class="container-fluid main" style="display: flex; align-items: center;">
	        <h1 style="font-size: 24px; margin-right: auto;"><i class="fa-regular fa-futbol"></i> Gestion de equipos de futbol</h1>
	        <div style="margin-left: auto;">
	            <a href="mostrarClub" class="btn btn-light" style="color: green; font-weight: bold;" >Club</a>
	            <a href="mostrarJugadores" class="btn btn-light" style="color: green; font-weight: bold;">Jugadores</a>
	            <a href="mostrarEntrenadores" class="btn btn-light" style="color: green; font-weight: bold;">Entrenadores</a>
	            <a href="mostrarAsociaciones" class="btn btn-light" style="color: green; font-weight: bold;">Asociaciones</a>
	            <a href="mostrarCompeticiones" class="btn btn-light" style="color: green; font-weight: bold;">Competiciones</a>
	        </div><br><br>
	    </div>
		
		<div id="q">
			
		</div>
	</div>
	<footer class="footer mt-auto py-3" style="background-color: whitesmoke; ">
	        <div class="container text-center">
	            <span class="text-muted" style="color: whitesmoke;">© 2024. Todos los derechos reservados.</span>
	        </div>
	</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>


